{% extends 'bootstrap/base.html' %}

<!-- Link all style files here -->
{% block head %}
    {{  super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
{% endblock %}

<!-- The title of our application is defined here -->
{% block title %}
    {% if title %}
        {{ title }} - Flask Server
    {% else %}
        Start Flask Server
    {% endif %}
{% endblock %}

<!-- This is the navbar -->
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=" # ">Gridjs</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
            <ul class="nav navbar-nav navbar-right">
                <li><a href=" {{ url_for('basic_table') }} ">Basic table</a></li>
                <li><a href=" {{ url_for('ajax_table') }} ">Ajax table</a></li>
                <li><a href=" {{ url_for('server_side_table') }} ">Server-side table</a></li>
                <li><a href=" {{ url_for('editable_table') }} ">Editable table (Server-side)</a></li>
            </ul>                       
        </div>
    </div>
</nav>
{% endblock %}

<!-- Contents of all our pages will go here -->
{% block content %}
    <div class="container">
        {% block app_context %}{% endblock %}
    </div>
{% endblock %}

<!-- All scripts will go here -->
{% block scripts %}
    {{  super() }}
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    {% block gridjs %}{% endblock %}
{% endblock %}